@import '~antd/dist/reset.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

#root {
  height: 100%;
}

/* Optional: Add custom styles that aren't covered by Ant Design theme configuration */